<!DOCTYPE html>
<html>
   <head>
      <title>dhcpRequest</title>
      <meta charset="utf-8" />
      <style>
        body {
          background: #c0c0c0;
        }
        nav {
          background: #D8BFD8;
          position: sticky;
          top: 0;
        }
        #footer {
         position: fixed;
         left: 0; bottom: 0;
         padding: 10px;
         background: #39b54a;
         color: #fff;
         width: 100%;
        }
      </style>
   </head>
   <body>
      <h1>Home</h1>
      {{> menu}}
      {{> footer}}
   </body>
</html>
