<nav>
   <ul>
      <li><a href="/dhcpRequest">Home</a>
      <li><a href="/dhcpRequest/voice">AP (Voice dhcp request)</a>
      <li><a href="/dhcpRequest/evdo">FLX (EVDO dhcp request)</a>
      <li><a href="/dhcpRequest/rssi">RSSI Diagram</a>
   </ul>
</nav>
